html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: #f1f5f8;
}

* {
    box-sizing: border-box
}

.unl {
    text-decoration: underline
}

strong {
    font-weight: 700
}

.hide {
    display: none;
    visibility: hidden;
}

.button-red {
    background: #ec0000;
    color: white;
    padding: 12px 20px;
    border-radius: 20px;
    font-size: 13px;
    text-align: center;
    margin: 20px auto 40px;
    clear: both;
    min-width: 100px;
}

#popUp {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(0, 0, 0, 0.8);
    display: none
}

#popUp .pop {
    width: 500px;
    height: auto;
    padding: 30px 90px;
    border-radius: 10px;
    background: #FFF;
    position: absolute;
    left: 50%;
    margin-left: -250px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    display: none;
}

#popUp .pop .textPop {
    line-height: 1.6em;
    color: #5c5c5c;
}

#popUp .cerrar-popUp{
    position: absolute;
    right: 20px;
    top: 28px;
    color: #ff0000;
    font-size: 12px;
    cursor: pointer;
}

.pop-06,
.pop-07 {
    width: auto !important;
    margin-left: -35% !important;
    position: relative;
}

.pop-06 .cerrar,
.pop-07 .cerrar {
    color: #ec0000;
    font-size: 10px;
    font-weight: bold;
    top: 10px;
    right: 10px;
    cursor: pointer;
    position: absolute;
}

header {
    height: 20px;
    background: #ec0000;
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
    padding-top: 5px;
}

.wp-fixed {
    width: 100%;
    height: 85px;
    position: absolute;
    top: 20px;
    background: #ec0000;

    z-index: 100;
}

.wp-fixed .container-fixed,
.wp-fixed-movement .container-fixed {
    display: block;
    width: 1024px;
    margin: auto;
    top: 0;
}

.wp-fixed-movement {
    background: #ec0000;
    z-index: 101;
    border-bottom: 1px solid transparent;
    height: 85px;
    position: fixed;
    width: 100%;
    top: -85px;
}

header small {
    display: block;
    font-weight: 600;
    width: 1024px;
    text-transform: uppercase;
    font-size: 10px;
    color: #FFF;
    margin: 0 auto;
}

header small span,
.wp-fixed .container-fixed img:last-child {
    float: right;
}

.wp-fixed .container-fixed img {
    margin-top: 20px
}

.wp-fixed-movement .container-fixed img:last-child {
    float: right;
}

.wp-fixed-movement .container-fixed img {
    margin-top: 20px
}

a.linkRed {
    background: #ec0000;
    display: inline-block;
    padding: 3px 10px;
    color: white;
    font-size: 12px;
    border-radius: 15px;
    margin: 23px 0;
}
a:visited{
    color: inherit;
}
a.secLink {
    display: block;
    text-align: center;
    margin: 30px auto 0;
    font-size: 14px;
    color: #ec0000;
    background: #e0e0e0;
    width: 86px;
    padding: 7px 8px;
    border-radius: 15px;
}

section {}

section p {
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
}

section .head {
    background: url(../img/bghead.jpg) center no-repeat;
    height: 748px;
}

section .copy {
    max-width: 720px;
    margin: auto;
    text-align: center;
    color: #003333
}

section .copy h1 {
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 30px;
    line-height: 60px;
}

section .copy p {
    padding: 0 33px
}

section .timeline {
    margin: 90px auto;
    position: relative;
    width: 1170px
}

section .timeline:after {
    content: '';
    clear: both;
    display: block
}

section .timeline:before {
    content: '';
    height: 96.4%;
    position: absolute;
    z-index: -1;
    border-right: 1px dashed #cccccc;
    top: 0;
    left: 50%;
    width: 1px
}

.timeline .circle {
    width: 156px;
    height: 156px;
    border-radius: 100%;
    margin: auto;
    position: relative;
    font-size: 40px;
    color: #ec0000;
    line-height: 156px;
    text-align: center;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
    font-weight: 300;
    clear: both;
    background: #FFF
}

.timeline .left,
.timeline .right {
    width: 50%;
    float: left;
    margin: 50px 0 70px
}

.timeline .left {
    padding-right: 160px;
    text-align: right
}

.timeline .right {
    padding-left: 160px
}

.timeline h2 {
    font-size: 18px;
    color: #ec0000;
    padding: 0 15px;
    margin: 30px 0 14px;
    text-transform: uppercase
}

.timeline .left p {
    padding: 0 30px 0 70px;
    background: url(../img/chk.png) no-repeat right top;
}

.timeline .right p {
    padding: 0 70px 0 30px;
    background: url(../img/chk.png) no-repeat left top;
}

.timeline p.dst {
    border-radius: 7px;
    background-color: #ededed;
    position: relative;
    cursor: pointer;
    margin: 0 0 2px 0;
}

.timeline p.dst:after {
    content: '+';
    width: 18px;
    height: 11px;
    position: absolute;
    top: 1%;
    left: 2px;
    color: #ec0000;
    font-size: 20px;
    font-weight: bold;
}

.timeline .right p.dst:after {
    left: auto;
    right: 0px
}

.timeline article {
    position: relative
}

.timeline article:after {
    content: '·';
    width: 130px;
    height: 1px;
    border-bottom: 1px dashed #cccccc;
    color: #ec0000;
    font-size: 50px;
    line-height: 0;
    position: absolute;
    text-indent: -10px;
    text-align: left;
    top: 8px;
}

.timeline .left article:after {
    right: -158px;
    transform: scale(-1);
    -webkit-transform: scale(-1);
    -ms-transform: scale(-1);
}

.timeline .right article:after {
    left: -155px;
}

.commingsoon2017 {
    position: relative;
    margin-bottom: 350px
}

.commingsoon2017:after {
    content: '';
    height: 60px;
    position: absolute;
    width: 888px;
    border-top: 2px dashed #b7b7b7;
    border-left: 2px dashed #b7b7b7;
    border-right: 2px dashed #b7b7b7;
    top: 80px;
    l;
    left: 50%;
    z-index: -1;
    border-radius: 0px;
    margin-left: -442px;
}

.commingsoon2017 h3 {
    width: 570px;
    font-weight: 300;
    font-size: 30px;
    text-align: center;
    border: 2px dashed #b7b7b7;
    border-radius: 60px;
    height: 64px;
    line-height: 60px;
    margin: auto;
    background: #FFF
}

.commingsoon2017 .centerTime {
    margin: 0 auto;
    width: 1300px;
    display: block;
    float: none;
    height: 370px;
}

.commingsoon2017 .centerTime .csCircle {
    position: relative;
    background: #FFF;
    width: 370px;
    height: 470px;
    text-align: center;
    border: 2px dashed #b7b7b7;
    margin: 60px 30px 0;
    border-radius: 10px;
    padding: 20px 25px;
    float: left;
}

.commingsoon2017 .centerTime .csCircle:before {
    content: '';
    width: 1px;
    height: 40px;
    position: absolute;
    border-left: 0px dashed #b7b7b7;
    top: -20px;
    left: 50%;
    z-index: -1;
}

.commingsoon2017 .centerTime .csCircle:nth-child(2):before {
    content: '';
    width: 1px;
    height: 70px;
    position: absolute;
    border-left: 2px dashed #b7b7b7;
    top: -60px;
    left: 50%;
    z-index: -1;
}

.commingsoon2017 .centerTime .csCircle h2 {
    font-weight: 600;
    margin: 15px 0 13px;
    text-transform: uppercase
}

.ciclo-capacita h3 {
    width: 570px;
    font-weight: 300;
    font-size: 30px;
    text-align: center;
    margin: auto;
    line-height: 35px
}

.ciclo-capacita h4 {
    font-size: 18px;
    max-width: 570px;
    text-align: center;
    margin: auto;
    line-height: 60px;
    border-radius: 60px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
    margin-top: 45px;
    position: relative;
    top: 15px
}

.ciclo-capacita .curso {
    max-width: 1130px;
    margin: 0 auto 130px;
    text-align: center
}

.ciclo-capacita .curso:after {
    content: '';
    clear: both;
    display: block
}

.ciclo-capacita .curso img {
    margin: auto;
    position: relative;
    z-index: -1;
    display: block
}

.ciclo-capacita .curso .third {
    width: 33.33%;
    float: left;
    padding: 0 34px;
    text-align: center;
    margin: 0 0 60px
}

.ciclo-capacita .curso .third h2 {
    font-size: 20px;
    color: #ec0000;
    margin-bottom: 20px
}

.graph {
    padding-top: 70px;
    margin-bottom: 150px
}

.graph h3 {
    width: 420px;
    font-weight: 300;
    font-size: 30px;
    text-align: center;
    margin: 0 auto 50px;
    line-height: 35px
}

.graph img {
    display: block;
    margin: auto
}
.wrapper-content{
    display: block;
    margin: 0 auto;
    position: relative;
    margin-top: -270px;   
}
.banco-central{
    display: block;
    margin: 0 auto;
    width: 1170px;
    background: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 45px;

}

.banco-central .half-left{
    float: left;
    width: 580px;
    height: 519px;
    background-image: url(../img/bnco-nacion-img.jpg);
    background-repeat: no-repeat;
    background-position: top center;
}

.banco-central .content-text-right{
    float: right;
    width: 521px;
    padding-right: 56px;
}
.banco-central .content-text-right h2{
    font-size: 45px;
    font-weight: 300;
    margin-bottom: 15px;
    margin-top: 30px;
    color: #5c5c5c;
    
}
.banco-central .content-text-right p{
    color: #5c5c5c;  
}
.desafios-otono{
    display: block;
    margin: 0 auto;
    width: 1170px;
    background: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 45px;
    border:1px solid #ebeff2;
}

.desafios-otono h2{
    font-size: 30px;
    font-weight: 300;
    display: block;
    margin: 40px auto;
    text-align: center;
    color: #5c5c5c;
}
.desafios-otono .container-modules{
    text-align: center;
    padding-bottom: 40px;
}
.desafios-otono .container-modules .module{
    width: 385px;
    display: inline-block;
    vertical-align: top;
    text-align: left;

    position: relative;
}
.desafios-otono .container-modules .module h4{
    font-weight: 700;
    text-transform: uppercase;
    color: #5c5c5c;
    text-align: center;
    margin-bottom: 25px;
    line-height: 20px;
}
.desafios-otono .container-modules .module .content-line{
    padding: 0  30px 0 60px;
    height: 395px;
    border-right: 1px solid #d4d4d4;
}
.desafios-otono .container-modules .module a{
    position: absolute;
    bottom:0;
    width: 135px;
    height: 30px;
    text-align: center;
    line-height: 21px;
    font-size: 12px;
    font-weight: 300;
    left:0;
    right: 0;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    margin: auto;

}
.desafios-otono .container-modules .module p,.desafios-otono .container-modules .module ul {
    font-size: 15px;
    line-height: 25px;
    color: #5c5c5c;
}
.desafios-otono .container-modules .module .content-line-last{
    border-right: 1px solid transparent;
}

.desafios-otono .container-modules .module img{
    display: block;
    margin: 0 auto  28px auto;
    height: 81px;
}

.en-curso{
    display: block;
    margin: 0 auto;
    width: 1170px;
    background: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 45px;
    padding-bottom:  35px;
    border:1px solid #ebeff2;   

}
.en-curso h2{
    font-size: 30px;
    font-weight: 300;
    display: block;
    margin: 40px auto;
    text-align: center;
    color: #5c5c5c;
}
.en-curso .content-curso-module{
    width: 1040px;
    display: block;
    margin: 0 auto 20px auto;
    padding: 20px 16px 20px 25px;
    border-radius: 5px;
    border:3px solid #dcdcdc;
    background-color: #f8f8f8;
}
.en-curso .content-curso-module h6{
    text-transform: uppercase;
    color: #5c5c5c;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 700;

}
.en-curso .content-curso-module p{
    line-height: 1.6em;
}

.en-curso .content-curso-module a{
    color: #ff0000;
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: 600;
}



.vision {
    padding-bottom: 50px
}

.vision h3 {
    width: 500px;
    font-weight: 300;
    font-size: 30px;
    text-align: center;
    margin: auto;
    line-height: 35px
}

.vision > p {
    width: 540px;
    color: #003333;
    margin: 50px auto;
    text-align: center
}

.vision > p a {
    margin-top: 30px;
    display: inline-block
}

.vision .wp-blocks {
    width: 1170px;
    margin: auto
}

.vision .wp-blocks:after {
    content: '';
    clear: both;
    display: block
}

.vision .wp-blocks > img {
    display: block;
    margin: auto
}

.vision .wp-blocks > img:first-child {
    position: relative;
    top: 20px
}

.vision .wp-blocks .blocks {
    width: 167px;
    float: left;
}

.vision .wp-blocks .blocks img {
    display: block;
    margin: auto;
    opacity: 0
}

.vision .wp-blocks .blocks .img {
    height: 150px;
    width: 167px;
    position: relative
}

.vision .wp-blocks .blocks.b01 .img {
    background: url(../img/menu1.png) no-repeat center top
}

.vision .wp-blocks .blocks.b02 .img {
    background: url(../img/menu2.png) no-repeat center top
}

.vision .wp-blocks .blocks.b03 .img {
    background: url(../img/menu3.png) no-repeat center top
}

.vision .wp-blocks .blocks.b04 .img {
    background: url(../img/menu4.png) no-repeat center top
}

.vision .wp-blocks .blocks.b05 .img {
    background: url(../img/menu5.png) no-repeat center top
}

.vision .wp-blocks .blocks.b06 .img {
    background: url(../img/menu6.png) no-repeat center top
}

.vision .wp-blocks .blocks.b07 .img {
    background: url(../img/menu7.png) no-repeat center top
}

.vision .wp-blocks .blocks a {
    display: block;
    font-size: 9px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ec0000;
    width: 115px;
    margin: 3px auto;
    height: 18px;
    line-height: 16px;
    border: 1px solid #ccc;
    border-radius: 15px;
    text-align: center;
    text-indent: 5px
}

.vision .wp-blocks .blocks a.folder {
    background: url(../img/icofolder.jpg) no-repeat 5px 2px;
}

.vision .wp-blocks .blocks a.plus {
    background: url(../img/icoplusred.jpg) no-repeat 5px 4px;
}

.vision .wp-blocks .blocks a.plus:hover {
    background: url(../img/icopluswhite.jpg) no-repeat 5px 4px #ec0000;
    border-color: #ec0000;
    color: #FFF
}

.vision .wp-blocks .blocks:hover .img img {
    opacity: 1
}

.vision .wp-blocks .blocks.b01:hover .img,
.vision .wp-blocks .blocks.b02:hover .img,
.vision .wp-blocks .blocks.b03:hover .img,
.vision .wp-blocks .blocks.b04:hover .img {
    background-image: none
}

.vision .wp-blocks .blocks.hover .img {
    background-image: none
}

.vision .wp-blocks .blocks.hover a.plus {
    background: url(../img/icopluswhite.jpg) no-repeat 5px 4px #ec0000;
    border-color: #ec0000;
    color: #FFF
}

.vision .wp-blocks .blocks.hover .img img {
    opacity: 1
}

.vision .wp-blocks .blocks.b06 .img img,
.vision .wp-blocks .blocks.b07 .img img {
    position: absolute;
    top: -60px;
    left: 4px
}

.vision .details div.blk-01 img.pico {
    position: absolute;
    left: 0;
    top: -35px;
}

.vision .details div.blk-02 img.pico {
    position: absolute;
    left: 166px;
    top: -35px;
}

.vision .details div.blk-03 img.pico {
    position: absolute;
    left: 332px;
    top: -35px;
}

.vision .details div.blk-04 img.pico {
    position: absolute;
    left: 498px;
    top: -35px;
}

.vision .details {
    clear: both;
    width: 114  0px;
    margin: 30px auto;
    padding: 25px 70px;

    background: #ffffff;
    position: relative;
    display: none;
}
.vision .details .line-red{
    width: 1120px;
    position: absolute;
    top: 0;
    height: 1px;
    background-color: #ff0000;
    display: block;
    left: 26px;
    display: block !important;
 }

.vision .details div {
    position: relative;
    font-size: 14px;
}

.vision .details div p {
    font-size: 14px;
    margin-bottom: 20px;
    padding-left: 30px;
    text-align: left;
    position: relative; 
}

.vision .details div p span {

    height: 10px;
    width: 10px;
    background: #ec0000;
    display: inline-block;
    border-radius: 100%;
    position: absolute;
    left: 0;
    top: 8px;
}

.vision .details div p strong {
    display: inline-block;
    color: #ec0000;
    text-align: left;
}

.vision .details div,
.vision .details {
    display: none
}

a.plusSub {
    color: black;
}

.sub {
    display: block !important;
    background: #ddd;
    padding: 20px;
    margin: 10px 0 0 -50px;
    border-radius: 10px;
    position: relative;
    width: 110%;
}

.sub.sub2 {
    display: block !important;
    background: transparent;
    margin: 30px 0 0 30px;
    padding: 0;
    width: 100%;
}

.sub.sub2:before {
    display: none;
}

.sub:before {
    content: '';
    background: #ddd;
    width: 15px;
    height: 15px;
    position: absolute;
    transform: rotate(-45deg);
    top: -8px;
    left: 77px;
}

.sub ul {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0 20px;
    border-right: 1px solid #ccc;
    min-height: 300px;
}

.sub ul:first-child {
    padding-left: 0;
}

.sub ul:last-child {
    padding-right: 0;
    border-right: 0;
}

.sub ul li {
    padding: 0;
    font-size: 12px;
    line-height: 30px;
    position: relative;
}

.sub ul li:before {
    content: '';
    width: 5px;
    height: 5px;
    background: #ec0000;
    display: inline-block;
    border-radius: 5px;
    margin: 0 10px 0 0;
}

.csCircle p {
    font-size: 14px;
    width: 240px;
    line-height: 24px;
    margin: 0 auto;
}







.wrapper-content-second{
    display: block;
    margin: 0 auto;
    width: 1170px;
    background: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 45px;
    padding-bottom:  35px;
    border:1px solid #ebeff2;   

}





footer .bot {
    background: url(../img/footer.png) no-repeat center #252525;
    height: 100px;
    border-bottom: 4px solid #EC0000;
    margin-top: 2px;
}

footer .top {
    background: #252525;
    overflow: hidden;
    height: 195px;
}

footer .top .wp {
    width: 1170px;
    margin: auto;
    height: 100%
}

footer .top .box {
    width: 50%;
    float: left;
    border-right: 1px solid #FFF;
    height: 100%;
    padding-top: 53px;
}

footer .top .box:last-child {
    border-right: none;
    border-left: 1px solid #FFF;
    padding-left: 50px
}

footer .top .box img {
    float: left;
    margin: 0 30px 0 0
}

footer .top .box .txt {
    overflow: hidden;
    color: white;
}

footer .top .box .txt h2 {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px
}

footer .top .box .txt p {
    font-size: 14px;
    line-height: 18px
}
footer .top .box .txt strong{
    font-weight: 600;
}
footer .top .box .txt p a {
    color: #ec0000
}

.dst {
    text-decoration: underline;
    color: #ec0000;
}

.dst:visited {
    color: inherit;
}

.button-red {
    color: #ffffff;
}

#popUp .pop {
    width: 1160px;
    left: 50%;
    top:50%;
-webkit-transform: translate(-50%,-50%) ;
-moz-transform: translate(-50%,-50%) ;
-ms-transform: translate(-50%,-50%) ;
-o-transform: translate(-50%,-50%) ;
transform: translate(-50%,-50%) ;
    height: 90%;
    overflow-y: scroll;
    margin-left: inherit;
}

#popUp .pop img {
    display: block;
    margin: 0 auto 28px auto;
    height: 81px;
}


.lock-body{
    overflow:hidden !important;
}


#popUp .pop h6{
    display: block;
    margin: 0 auto;
    text-align: center;
    font-weight: 700;
    margin-bottom: 28px;
}

#popUp .pop p{
    font-size: 15px;
    font-weight: 400;
    display: block;
    margin-bottom: 30px;
    line-height: 1.6em;
}

#popUp .pop .subtitle{
    margin-bottom: 30px;
}



#popUp .pop .bullet-modal span{
    height: 10px;
    width: 10px;
    background: #ec0000;
    display: inline-block;
    border-radius: 100%;
    position: absolute;
    left: 13px;
    top: 4px;
}

#popUp .pop .bullet-modal strong{
    display: inline-block;
    color: #ec0000;
    text-align: left;
}

#popUp .pop .bullet-modal{
    font-size: 14px;
    margin-bottom: 5px;
    padding-left: 30px;
    text-align: left;
    position: relative;
    left: -15px;
}
#popUp .pop .bullet-last{
    margin-bottom: 30px;
}
#popUp .pop .subtitle-intern{
    font-weight: 700;
    margin-bottom: 5px;
    padding-left: 15px;
}

#popUp .pop .leyend{
    font-size: 12px;
    font-style: italic;
}
#popUp .pop .divider{
    width: 474px;
    display: block;
    height: 1px;
    margin: 45px auto 35px auto;
    background-color: #000000;
}


#popUp .pop h4{
    margin-bottom: 30px;
}
#popUp .pop h4, #popUp .pop .sede span{
    color :#5c5c5c;
    font-weight: bold;
    text-transform: uppercase;

}
#popUp .pop .sede .icon-img{
    margin: 0 15px 0 0;
    width: 54px;
    height: 47px;

}
#popUp .pop .sede-logo{
    float: left;
    margin-bottom: 30px;
}
#popUp .pop .sede img,#popUp .pop .sede span{
    display: inline-block;
    vertical-align: bottom;
}
#popUp .pop .sede .city-img{
    width: 70px;
    height: 40px;
}
#popUp .pop .slider{
    float: left;
    width: 100%;
    position: relative;

}
#popUp .pop .slider .button{
    width: 19px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%) ;
    -moz-transform: translateY(-50%) ;
    -ms-transform: translateY(-50%) ;
    -o-transform: translateY(-50%) ;
    transform: translateY(-50%) ;
    z-index: 10;
    height: 22px;
    cursor: pointer;
}


#popUp .pop .slider .customPrevBtn{
    left: -22px;
}

#popUp .pop .slider .customNextBtn{
    right: -22px;
}

.owlCarousel .owl-item{
    width: 50%;
    float: left;


}
.owlCarousel img{
    width: 100%;
    height: auto !important;
}


.owl-stage-outer{
    overflow:hidden;
}
.owlCarousel .disabled{
    display: none;
}

.testimonios-text{
    float: left;
    width: 100%;
}

.single-testi{
    font-family: Georgia,serif;
    color: #5c5c5c;
    float: left;
    width: 50%;
    font-style: italic;
    padding-right: 0px;
}

.testimonios-text .single-testi:nth-child(2n){
    padding-right: 45px;
}

#popUp .pop .quote{
    display: block;
    width: 100%;
}
#popUp .pop .quote img{
    width: 36px;
    height: 27px;
    margin: auto;

}

#popUp .pop .quote-left{
   text-align: left;
   float: left;
   text-align: left;
}
#popUp .pop .quote-left img{
    float: left;
    margin-bottom: 8px;
}

#popUp .pop .quote-right{
   text-align: right;
   float: right;
   text-align: right;
}
#popUp .pop .quote-right img{
    float: right;
    margin-top: 8px;
}

.single-testi .name{
    font-weight: bold;
    display: block;
    text-align: right;
    margin-top: 24px;
}

.testimonios-text h4{
    color: #5c5c5c;
    font-weight: bold;
    text-transform: uppercase;
}
.iram{
    display: block;
    margin: 0 auto;
    width: 1170px;
    background: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 45px;
}
.iram .text-left{
    color:#5c5c5c;
    float: left;
    width: 522px;
    font-size: 15px;
    line-height: 27.5px;
    padding: 60px 30px 0 50px;
}
.iram img{
    float: right;
}


